# Nix / devenv
.devenv/
.pre-commit-config.yaml

# AI
.mcp.json
.claude

# Rust
/target
.cargo/
rustc-ice-*.txt

# JS / deno
node_modules/
sites/web/.svelte-kit/
sites/web/build/

# Secrets
.env

# OS
.DS_Store
